* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #e2e8f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #0f172a;
    padding: 30px;
    border-radius: 16px;
    width: 400px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #38bdf8;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #020617;
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: #020617;
    cursor: pointer;
    transition: 0.3s;
}
#result {
    margin-top: 10px;
}

#word {
    font-size: 24px;
    font-weight: bold;
    color: #facc15;
}

#result p {
    margin: 8px 0;
}

#errorMessage {
    color: #ef4444;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

audio {
    width: 100%;
    margin-top: 10px;
}